# Obtención de datos

## Librerías necesarias
    1. yfinance: Para la obtención de datos financieros del dataset de Yahoo Finance.
    2. pandas: Para la manipulación y análisis de datos.

In [1]:
import yfinance as yf
import pandas as pd

In [2]:
ticker = 'AAPL'

apple_stock = yf.Ticker(ticker)

# 'period="5y"' datos de los ultimos 5 años.
# 'interval="1d"' actualiza los datos a intervalos diarios.
datos_historicos = apple_stock.history(period="5y", interval="1d")

print(f"Datos de {ticker} descargados exitosamente.")

Datos de AAPL descargados exitosamente.

## Inspeccion de los datos

In [4]:
print("Primeras 5 filas de los datos:")
display(datos_historicos.head())

Primeras 5 filas de los datos:

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-08-31 00:00:00-04:00,124.099333,127.426026,122.562438,125.519493,225702700,0.0,4.0
2020-09-01 00:00:00-04:00,129.137999,131.122352,126.968843,130.519257,151948100,0.0,0.0
2020-09-02 00:00:00-04:00,133.836251,134.215610,123.535172,127.815125,200119000,0.0,0.0
2020-09-03 00:00:00-04:00,123.447625,125.324964,117.212500,117.582130,257599600,0.0,0.0
2020-09-04 00:00:00-04:00,116.794232,120.325195,107.864682,117.659950,332607200,0.0,0.0

La funcion `.info` da un resumen conciso del DataFrame, incluyendo el número de entradas, el número de columnas, los tipos de datos de cada columna y la cantidad de valores no nulos en cada columna.

In [3]:
print("\nInformación general del DataFrame:")
datos_historicos.info()

Información general del DataFrame:
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1256 entries, 2020-08-31 00:00:00-04:00 to 2025-08-29 00:00:00-04:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          1256 non-null   float64
 1   High          1256 non-null   float64
 2   Low           1256 non-null   float64
 3   Close         1256 non-null   float64
 4   Volume        1256 non-null   int64
 5   Dividends     1256 non-null   float64
 6   Stock Splits  1256 non-null   float64
dtypes: float64(6), int64(1)
memory usage: 78.5 KB

## Guardar los datos

In [5]:
datos_historicos.to_csv('../data/AAPL_bruto.csv')

print("Datos brutos guardados exitosamente en 'data/AAPL_bruto.csv'")

Datos brutos guardados exitosamente en 'data/AAPL_bruto.csv'